# OS / IDE
.DS_Store
Thumbs.db
.vscode/
_notes/
*.dwsync.xml

# Logs / Caches / Temp
*.log
.cache/
cache/
tmp/
*.bak

# Build / Node (später)
node_modules/
dist/
build/
.parcel-cache/
*.map

# Env
.env
.env.*

# Projekt-spezifisch
.config/private.php
/login/login.php
/googleb6a791f4d5d7fcc6.html
/test/login.php
_backup/

# Große Mediendateien
/downloads/RS472_Mitschnitt_Soziale_Elternschaft_16_05_2022.mp4
