@font-face {
    font-family: 'gordita';
    font-style: normal;
    font-weight: normal;
    src: url('gordita_regular-webfont.woff2') format('woff2'),
         url('gordita_regular-webfont.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'gordita';
    font-style: normal;
    font-weight: 300;
    src: url('gordita_light-webfont.woff2') format('woff2'),
         url('gordita_light-webfont.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'gordita';
    font-style: normal;
    font-weight: 500;
    src: url('gordita_medium-webfont.woff2') format('woff2'),
         url('gordita_medium-webfont.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'gordita';
    font-style: normal;
    font-weight: 700;
    src: url('gordita_bold-webfont.woff2') format('woff2'),
         url('gordita_bold-webfont.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'gordita';
    font-style: normal;
    font-weight: 900;
    src: url('gordita_black-webfont.woff2') format('woff2'),
         url('gordita_black-webfont.woff') format('woff');
    font-display: swap;
}











